---
---

//
// IMPORTS
//

@import "reset";
@import "bootstrap/bootstrap";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* NAVBAR */
/**************/
.nav-container {
  @include media-breakpoint-up(lg) {
    border-bottom: none !important;
    border-right: 1px solid #dee2e6 !important;
  }
}

.custom-navbar {
  background-color: white;
  position: fixed !important;
  top: 0 !important;
  width: 100%;

  @include media-breakpoint-up(lg) {
    border-bottom: none !important;
    position: relative !important;
    width: auto !important;
  }
}

.site-logo {
  @include media-breakpoint-up(lg) {
    padding: 0.5rem 1rem;
  }
}

/**************/
/* MAIN-CONTENT */
/**************/
#main-content {
  margin-top: 74px !important;

  @include media-breakpoint-up(lg) {
    margin-top: 0 !important;
    margin-left: 3rem;
  }
}

/**************/
/* BUTTONS */
/**************/
.btn-outline-primary {
  transition: none;
  border-radius: 0;
}
.btn-outline-primary:hover {
  color: white;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
