// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Changing Bootstrap variables
$orange:  #ff9300 !default;
$primary: $orange !default;
