<!DOCTYPE html>
<html>

<head>
  <title>
    {% if page.title %}{{ page.title }} | {{ site.name }}
    {% else %}{{ site.name }}
    {% endif %}
  </title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fd97fe4a5b8e4001269c00c&product=inline-share-buttons" async="async"></script>
</head>

<body>
  <div class="row">
    <div class="nav-container col-12 col-lg-2">
      {% include navbar.html %}
    </div>
    <div id="main-content" class="col-12 col-lg-7">
      <main class="container-sm min-vh-100 py-4 py-lg-5">
        {{ content }}
      </main>
    </div>
  </div>


  {% include footer.html %}
  {% include analytics.html %}
</body>

</html>